<html>
<head>
  <title>五子棋</title>
</head>
<body bgcolor="orange">
  <h1>五子棋</h1>
  <div><button id="restart">Restart</button></div>
  <div>
    You: <span style="color:black">BLACK</span>
    <span id="win"></span></div>
  <canvas id="board" width="500" height="500"></canvas>
  <script>
    let isPlaying = true;
    let isBlue = true;
    const BLACK = 1;
    const WHITE = 2;
    const ROW = 10, COL = 10;
    const canvas = document.getElementById('board');
    const context = canvas.getContext('2d');
    context.fillStyle = "orange";
    context.rect(0, 0, canvas.width, canvas.height);
	context.fill();
    const cellWidth = Math.floor(canvas.width / COL);
    const cellHeight = Math.floor(canvas.height / ROW);
    const board = new Array(ROW);
    for (let i = 0; i < ROW; i++) {
      board[i] = new Array(COL);
    }

    function restart() {
      for (let row = 0; row < ROW; row++) {
        for (let col = 0; col < COL; col++) {
          board[row][col] = 0;
        }
      }
      refreshBoard();
      isPlaying = true;
      isBlue = true;
      document.getElementById('win').innerText = '';
      canvas.style.opacity = '1';
    }

    function isCellInBoard(row, col) {
      return row >= 0 && row < ROW && col >= 0 && col < COL;
    }

    document.getElementById('restart').onclick = function () {
      restart();
    }

    function getCell(mouseX, mouseY) {
      if (mouseX < 0 || mouseX >= canvas.width || mouseY < 0 || mouseY >= canvas.height) {
        return {
          x: -1,
          y: -1
        };
      }
      return {
        x: Math.floor(mouseX / cellWidth),
        y: Math.floor(mouseY / cellHeight)
      };
    }

    canvas.addEventListener('click', function (event) {
      if (!isPlaying) {
        return;
      }
      const rect = canvas.getBoundingClientRect();
      const cell = getCell(event.clientX - rect.left, event.clientY - rect.top);
      if (cell.x < 0 || cell.y < 0) {
        return;
      }
      if (!board[cell.y][cell.x]) {
        isPlaying = false;
        if (!place(cell.y, cell.x)) {
          const next = aiNextStep();
          if (!place(next.row, next.col)) {
            isPlaying = true;
          }
        }
      }
    });

    function currentColor() {
      return isBlue ? BLACK : WHITE;
    }

    function opponentColor() {
      return isBlue ? WHITE : BLACK;
    }

    function place(row, col) {
      const color = currentColor();
      board[row][col] = color;
      refreshBoard();
      const win = checkIfWin(color);
      if (win) {
        document.getElementById('win').innerText = (currentColor() == BLACK ? 'BLACK' : 'WHITE') + ' win!';
        canvas.style.opacity = '0.5';
      }
      isBlue = !isBlue;
      return win;
    }

    function refreshBoard() {
      context.clearRect(0, 0, canvas.width, canvas.height);
      drawGrid();
      drawPieces();
    }

    function drawGrid() {
      context.strokeStyle = "black";
      context.beginPath();
      for (let i = 1; i < ROW; i++) {
        const y = i * cellHeight;
        context.moveTo(0, y);
        context.lineTo(canvas.width, y);
      }
      for (let i = 1; i < COL; i++) {
        const x = i * cellWidth;
        context.moveTo(x, 0);
        context.lineTo(x, canvas.height);
      }
      context.stroke();
    }

    function drawPieces() {
      for (let row = 0; row < ROW; row++) {
        for (let col = 0; col < COL; col++) {
          if (!board[row][col]) {
            continue;
          }
          context.beginPath();
          const r = Math.floor(0.4 * Math.min(cellWidth, cellHeight));
          const cx = Math.floor((col + col + 1) * cellWidth / 2);
          const cy = Math.floor((row + row + 1) * cellHeight / 2);
          context.fillStyle = board[row][col] == WHITE ? 'rgb(255, 255, 255)' : 'rgb(0, 0, 0)';
          context.arc(cx, cy, r, 0, Math.PI * 2);
          context.fill();
        }
      }
    }

    restart();
  </script>
</body>
</html>