<!DOCTYPE html>
<html>

<head>
    <!-- <script src='./node_modules/web3/dist/web3.min.js'></script> -->
    <script src="{{ url_for('static', filename='node_modules/web3/dist/web3.min.js')}}"></script>
    <title>五子棋</title>
</head>

<body bgcolor="orange">
    <h1>五子棋</h1>
    <div><button id="restart">Restart</button></div>
    <div>
      Status: <span id="status"></span>
      <button id="update" onclick="updateStatus()">Update Game Status</button></div>
    <div>
            <label for="inviteAddress">Invite Second Player:</label><br>
            <input type="text" id="inviteAddress" name="inviteAddress"/><br>
            <button id="invite" onclick="startGame()">Invite</button><br>
    </div>
    <div>
      You: <span id="color"></span>
      <span id="win"></span>
    </div>
    <canvas id="board" width="500" height="500"></canvas>

    <script type="text/javascript">
        
        let account;
        const BLACK = 1;
        const WHITE = 2;
        const ROW = 10, COL = 10;
        const canvas = document.getElementById('board');
        const context = canvas.getContext('2d');
        context.fillStyle = "orange";
        context.rect(0, 0, canvas.width, canvas.height);
        context.fill();
        const cellWidth = Math.floor(canvas.width / COL);
        const cellHeight = Math.floor(canvas.height / ROW);
        var board = new Array(ROW);
        for (let i = 0; i < ROW; i++) {
            board[i] = new Array(COL);
        }

        load().then(()=>initiateStatus());
        

        var isPlaying;
        var isBlack = null;

        async function initiateStatus(){
            console.log("initializing status");
            let status = await window.contract.methods.getStatus().call();
            let ifPlayer = await window.contract.methods.checkPlayers(account).call();
            console.log(status);
            if (status == 0) {
                console.log(status);
                console.log(ifPlayer);
                isPlaying = false;
            }else if (status == 1) {
                console.log(ifPlayer);
                if(ifPlayer == 1){
                    isPlaying = true;
                    isBlack = true;
                    document.getElementById('color').innerText = 'BLACK';
                }else{
                    isPlaying = false;
                    isBlack = false;
                    document.getElementById('color').innerText = 'WHITE';
                }
            }else if (status == 2) {
                console.log(ifPlayer);
                if(ifPlayer == 2){
                    isPlaying = true;
                    isBlack = false;
                    document.getElementById('color').innerText = 'WHITE';
                }else{
                    isPlaying = false;
                    isBlack = true;
                    document.getElementById('color').innerText = 'BLACK';
                }
            }
            console.log(isPlaying);
            console.log(isBlack);
        }

        async function updateStatus(){
            let status = await window.contract.methods.getStatus().call();
            if(status == 0){
                document.getElementById('status').innerText = 'Open';
                return;
            }
            if(isBlack == null){
                await initiateStatus();
            }
            let currentColor = isBlack ? BLACK : WHITE;
            if(status == currentColor){
                isPlaying = true;
                document.getElementById('status').innerText = 'Your Turn';
            }else{
                isPlaying = false;
                document.getElementById('status').innerText = 'Opponent Turn';
            }
        }

        async function loadContract() {
            return await new window.web3.eth.Contract(
                [
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "board",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "addr",
				"type": "address"
			}
		],
		"name": "checkPlayers",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint8",
				"name": "x",
				"type": "uint8"
			},
			{
				"internalType": "uint8",
				"name": "y",
				"type": "uint8"
			}
		],
		"name": "checkWin",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "fundContract",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getBoard",
		"outputs": [
			{
				"internalType": "uint8[10][10]",
				"name": "",
				"type": "uint8[10][10]"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getStatus",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "opponent",
				"type": "address"
			}
		],
		"name": "initiate",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint8",
				"name": "x",
				"type": "uint8"
			},
			{
				"internalType": "uint8",
				"name": "y",
				"type": "uint8"
			}
		],
		"name": "makeMove",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "player1",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "player2",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "restart",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "turn",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "winner",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]
, '0x9cd61b46dB3A162De7D5412eC9238D1d3BD2bC54');
        }

        async function loadWeb3() {
            if (window.ethereum) {
                window.web3 = new Web3(window.ethereum);
                window.ethereum.enable();
            }
        }

        async function load() {
            await loadWeb3();
            window.contract = await loadContract();
            console.log('Ready!');
            await refreshBoard(); 
            account = await getCurrentAccount();
        }

        async function getCurrentAccount() {
            const accounts = await window.web3.eth.getAccounts();
            return accounts[0];
        }

        async function startGame(){
            let status = await window.contract.methods.getStatus().call();
            if(status != 0){
                return;
            }
            const walletAddress = document.getElementById("inviteAddress").value;
            await window.contract.methods.initiate(walletAddress).send({ from: account });
            await updateStatus();
        }

        async function restart() {
            for (let row = 0; row < ROW; row++) {
                for (let col = 0; col < COL; col++) {
                    board[row][col] = 0;
                }
            }
            await refreshBoard();
            document.getElementById('win').innerText = '';
            canvas.style.opacity = '1';
            await window.contract.methods.restart().send({ from: account });
        }

        async function refreshBoard() {
            context.clearRect(0, 0, canvas.width, canvas.height);
            await loadBoard();
            drawGrid();
            drawPieces();
        }

        async function loadBoard(){
            console.log(window.contract);
            const board_str = await window.contract.methods.getBoard().call();
            board = board_str;
        }

        document.getElementById('restart').onclick = function () {
            restart();
        }

        document.getElementById('update').onclick = async function () {
            await refreshBoard();
            await updateStatus();
        }

        function getCell(mouseX, mouseY) {
            if (mouseX < 0 || mouseX >= canvas.width || mouseY < 0 || mouseY >= canvas.height) {
                return {
                x: -1,
                y: -1
                };
            }
            return {
                x: Math.floor(mouseX / cellWidth),
                y: Math.floor(mouseY / cellHeight)
            };
        }

        canvas.addEventListener('click', async function (event) {
            if (!isPlaying) {
                return;
            }
            const rect = canvas.getBoundingClientRect();
            const cell = getCell(event.clientX - rect.left, event.clientY - rect.top);
            if (cell.x < 0 || cell.y < 0) {
                return;
            }
            if (board[cell.y][cell.x] == 0) {
                isPlaying = false;
                await window.contract.methods.makeMove(cell.y,cell.x).send({ from: account });
                await refreshBoard();
                const win = await window.contract.methods.winner().call();
                if (win != 0) {
                    document.getElementById('win').innerText = (win == 1 ? 'BLACK' : 'WHITE') + ' wins! Please start a new game';
                    canvas.style.opacity = '0.5';
                }
            }
        });

        function drawGrid() {
            context.strokeStyle = "black";
            context.beginPath();
            for (let i = 1; i < ROW; i++) {
                const y = i * cellHeight;
                context.moveTo(0, y);
                context.lineTo(canvas.width, y);
            }
            for (let i = 1; i < COL; i++) {
                const x = i * cellWidth;
                context.moveTo(x, 0);
                context.lineTo(x, canvas.height);
            }
            context.stroke();
            }

        function drawPieces() {
            for (let row = 0; row < ROW; row++) {
                for (let col = 0; col < COL; col++) {
                if (!board[row][col] || board[row][col] == 0) {
                    continue;
                }
                context.beginPath();
                const r = Math.floor(0.4 * Math.min(cellWidth, cellHeight));
                const cx = Math.floor((col + col + 1) * cellWidth / 2);
                const cy = Math.floor((row + row + 1) * cellHeight / 2);
                context.fillStyle = board[row][col] == WHITE ? 'rgb(255, 255, 255)' : 'rgb(0, 0, 0)';
                context.arc(cx, cy, r, 0, Math.PI * 2);
                context.fill();
                }
            }
        }
        
    </script>
</body>

</html>